

.cabecalho ul li ul li a:hover{
    background-color: #53c653;
}
.cabecalho{
    background-color:#0B6121; 
    margin: 0px;
    padding: 0px;
    border: none;
    border-color: transparent;  
    border-radius: 0px !important;
}
.cabecalho ul li a{
    text-decoration: none;
    color: white  !important;   
}
.cabecalho ul li {
    background-color:#0B6121 !important;
}
.activeNavbar{
    background-color: #53c653!important;
}

footer {
    background-color: #0B6121;
}

#Navbar{
    padding-top: 0.6%;
}
.open > a{
    background-color: #53c653 !important;
}
.logo{
    max-width: 200px;
    height: 55px; 
    margin:  5px;
    margin-right: 30px;
}

#carouselHome{
    margin: auto;
    background-image: linear-gradient(to right,  #e6e6e6,#f2f2f2, #f2f2f2,  #e6e6e6);

}
.carousel-inner .item img{
    margin: 0 auto;
}
.containerCarousel{
    padding: 0px;
    background-color: #F2F2F2; 
}

.divisoriaTema{
    border: 1px solid #088A29;
}
.divisoriaNoticia{
    border: 1px dashed #e6e6e6;
    margin-left: -15px;
    width: 100%;

}
h2{
    color:  #0B6121;
}
.imagemMiniatura{
    margin: 0px;
    max-width: 100%;
    min-width:  200px;
    max-height: 150px;
}
.tituloNoticia{
    color: #0B6121;
    text-align: left;
    margin: 0px;

}
.conteudoNoticia{
    color: #555;
    
}
a{
    text-decoration: none !important;
    color: #333;
}
a:hover{
    text-decoration: none !important;
    color: #088A29;
}
.dataNoticia{
    text-align: left;
    font-size: 15px;
}
.iconeFooter{
    font-size: 30px;
    text-align: right;
    color: white;
    display: inline-block;
}

.textoFoter{
    color: white;
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
}
.categoriaNoticia{
    font-size: 15px;
    color: #53c653;
}
.textoNoticia{
    font-size:18px; 
}
.imagemNoticia{
    max-width: 700px;
    max-height: 400px; 
}
.footer{
    background-color:#0B6121; 
    margin: 10px 0px 0px 0px;
    padding: 0px;
    border: none;
    bottom: 0;
    width: 100%;
    color: white;
    
}

@media only screen and (max-width: 720px){

    .descktop{
        display: none;
    }
    .tituloNoticia{
        color: #0B6121;
        text-align: left;
        margin: 0px;
        font-size: medium;
    }
    .categoriaNoticia{
        font-size: small;
    }
    .tituloPagina{
        font-size: 25px;
        margin-left: 10px;

    }
    .logo{
        width: 150px;
        height: 40px;
    }
    .imagemMiniatura{
        min-width: 90px;
        min-height: 90px;
        margin-right: 5px;
    }
    .iconeFooter{
        font-size: 30px;
        color: white;
    }
    .container{
        margin: 10px;
    }
    .dataNoticia{
        font-size: small;
    }
    .textoNoticia{
        font-size: medium;
    }
    .imagemNoticia{
        max-width: 300px;
        max-height: 200px;
    }
 
}
